body{
    background-color: black;
    margin:auto;
    color:white;
    font-family: "Comfortaa";
}

header{
    font-family: "Amatic SC", sans-serif;
    font-size: xx-large;
    color: #D58936;
    background-color: #69140E;
    padding: 10px;
    margin:auto;
}

nav{
    display: flex;
    justify-content: end;
    gap: 35px;
    margin-right: 20px;
}

.nav-item{
    text-decoration: none;
    color: #D58936;
}

.nav-item:hover {
    color:#69140E;
    background-color: #D58936;
}

.socials{
    display:flex;
    justify-content: center;
    gap: 15px;
}

.info{
    margin: 10px;
}
.info ul li{
    list-style-type: none;
    padding: 5px;
}
.location{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.building{
    display:flex;
    justify-content: center;
}
.parking{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.contact{
    display:flex;
    flex-direction: column;
    align-items:center;
}

footer{
    background-color:#69140E;
    padding: 50px;
    margin:auto;
}

@media screen and ( min-width: 768px) {
    .info{
        display: grid;
        grid-template-rows: 1fr 1fr, 1fr, 1fr;
        grid-template-columns: 1fr, 1fr;
        margin-left:100px;
    }
    .location{
        display:inline-block;
        flex-direction: column;
        align-items:flex-start;
        grid-column:1;
    }

    .building{
        display:flex;
        grid-column:2;
    }

    .parking{
        display:flex;
        flex-direction: column;
        align-items:center;
        grid-column:1 / 3;
    }

    .contact{
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        grid-column:1 ;
    }
    .media{
        grid-column:1;
    }
    .socials{
        grid-column:1 / 3;
        align-items:center;
    }
}